body {
  margin: 0;
}

mwc-top-app-bar .subtitle {
  font-size: 60%;
  line-height: 100%;
  font-weight: normal;
}

mwc-top-app-bar a {
  color: white;
}

mwc-fab {
  position: fixed;
  bottom: 1.5em;
  right: 1.5em;
}

.todo-list {
  padding: 1em 0;
}

.todo-item {
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.todo-item .handle {
  font-size: 100%;
  margin-top: 1px;
  margin-left: 0.25em;
  margin-right: -0.5em;
  opacity: 0;
  cursor: move;
  transition: opacity ease-in 100ms;
  align-self: center;
}

/* When the todo item is hovered, it is highlighted and a drag cursor shows up */

.todo-item:hover {
  background: rgba(0, 0, 0, 0.05);
}

.todo-item:hover .handle {
  opacity: 0.5;
}

/* Except if we're in drag mode, then it looks weird for them to flick on and off during a drag */

body.dragging .todo-item:hover {
  background: transparent;
}

body.dragging .todo-item:hover .handle {
  opacity: 0;
}

/* Except if *we're* the item being dragged, in which case slightly different presentation */

body.dragging .todo-item.dragging {
  background: rgb(1, 135, 134, 0.3);
}

body.dragging .todo-item.dragging .handle {
  opacity: 0.5;
}

.todo-item .textwrap {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}

.todo-item .textwrap span {
  font-family: var(
    --mdc-typography-subtitle1-font-family,
    var(--mdc-typography-font-family, Roboto, sans-serif)
  );
  font-size: var(--mdc-typography-subtitle1-font-size, 1rem);
  font-weight: var(--mdc-typography-subtitle1-font-weight, 400);
  letter-spacing: var(--mdc-typography-subtitle1-letter-spacing, 0.009375em);
  text-decoration: var(--mdc-typography-subtitle1-text-decoration, inherit);
  text-transform: var(--mdc-typography-subtitle1-text-transform, inherit);
  padding: 0.9em 0.4em;
  border-bottom: 2px solid rgba(0, 0, 0, 0);
  transition: border-bottom-color ease-in 100ms;
}

.todo-item .textwrap span:focus {
  outline: none;
  border-bottom-color: #6200ee;
}

.todo-item mwc-textfield {
  display: inline-block;
  min-width: 0;
  --mdc-text-field-fill-color: rgba(0, 0, 0, 0);
  --mdc-text-field-idle-line-color: rgba(0, 0, 0, 0);
}

mwc-check-list-item .text {
  display: inline-block;
  padding: 0.8em 0.4em;
  border: 2px dashed rgba(0, 0, 0, 0);
}

mwc-check-list-item .text:hover,
mwc-check-list-item .text:focus {
  border-bottom-color: rgb(98, 0, 238);
}

mwc-check-list-item .text:focus {
  outline: none !important;
}

.sync-icon {
  opacity: 0;
  animation-duration: 500ms;
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}

.sync-icon.syncing {
  animation-name: spin;
}

@keyframes spin {
  from {
    opacity: 0;
    transform: rotate(0deg);
  }
  25% {
    opacity: 1;
  }
  75% {
    opacity: 1;
  }
  to {
    opacity: 0;
    transform: rotate(540deg);
  }
}

.sync-icon.offline {
  opacity: 1;
}
