.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.App > main {
  display: flex;
  flex: 1;
  background-color: var(--white);
}

.App-header {
  align-items: center;
  background-color: var(--darkest);
  color: var(--white);
  display: flex;
  flex-direction: column;
  font-size: 10vmin;
  height: 10vh;
  justify-content: center;
  padding: 10px;
}

.App-sub-header {
  background-color: #282c34;
  color: var(--white);
  display: flex;
  flex-direction: row;
  font-size: 15px;
  height: 30px;
  justify-content: space-around;
}

.App-sub-header button {
  background: transparent;
  border: 0;
  color: var(--white);
  cursor: pointer;
  font: inherit;
}

.App-sub-header button:hover {
  color: #61dafb;
  text-decoration: underline;
}
