:root {
  --white: hsl(220 13% 98%);
  --lightest: hsl(220 13% 90%);
  --light: hsl(220 13% 80%);
  --dark: hsl(220 13% 70%);
  --darkest: hsl(220 13% 18%);
}

body {
  background-color: var(--white);
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
