.LoginScreen {
  align-items: center;
  background-color: var(--white);
  display: flex;
  font-size: 20px;
  height: 100vh;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
}

.LoginScreen > input,
.LoginScreen > button {
  border-radius: 5px;
  border: 1px solid var(--light);
  color: var(--darkest);
  font: inherit;
  padding: 4px 8px;
}

.LoginScreen > input {
  background-color: var(--white);
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.LoginScreen > button {
  background-color: var(--lightest);
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  position: relative;
  left: -1px;
}

.LoginScreen > input:focus,
.LoginScreen > button:focus,
.LoginScreen > input:hover,
.LoginScreen > button:hover {
  border-color: var(--dark);
  outline: none;
}

.LoginScreen > :focus,
.LoginScreen > :hover {
  z-index: 1;
}
