.App-list {
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 15px;
  padding: 5px;
  margin: 0;
}

.App-list > li {
  align-items: center;
  background-color: var(--white);
  color: var(--darkest);
  display: block;
  display: flex;
  justify-content: left;
  margin: 0;
}

.App-list > li > label {
  align-items: center;
  display: flex;
  flex: 1;
}

.App-list > li > label > input[type='text'] {
  background: transparent;
  border: 0;
  border-bottom: 1px solid var(--lightest);
  border-radius: 0;
  color: inherit;
  display: flex;
  flex: 1;
  font: inherit;
  margin: 2px;
  padding: 5px;
  transition: 0.3s border-bottom-color;
}

.App-list > li > label > input[type='text']:focus,
.App-list > li > label > input[type='text']:hover {
  border-bottom: 1px solid var(--dark);
  outline: none;
}

.App-list > li > svg,
.App-list > li > button {
  background: transparent;
  border: 0;
  fill: var(--light);
  transition: 0.3s fill;
}

.App-list > li > svg:focus,
.App-list > li > svg:hover,
.App-list > li > button:focus,
.App-list > li > button:hover {
  fill: var(--darkest);
  outline: none;
}
